{#Load bootstrap django resources#}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    <form action="{%url 'images:addImage'%}" enctype="multipart/form-data" method="post">
    {%csrf_token%}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="submit" value="añadir" class="btn btn-primary btn-block"/>
    {% endbuttons %}
</form>
</div>

</body>
</html>